@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

main{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw;
}

.left-nav img{
    width: 200px;
}

.center-nav .links{
    display: flex;
    gap: 30px;
}

.links a{
    color: #000;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-family: 'Bebas Neue';
}